*{
    box-sizing: border-box;
}

body{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100vh;
}

.square{
    background-color: #1d1d1d05;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.178);
    height: 1rem;
    width: 1rem;
    margin: 2px;
    transition: 2.5s ease;
}

.square:hover{
    transition-duration: 0s;
}